---
import Layout from "../layouts/baselayout/Layout.astro";

import Header from "../components/Header.astro";
import Banner from "../layouts/Banner.astro";
import About from "../layouts/About.astro";
import InterventionType from "../layouts/InterventionType.astro";
import Tarif from "../layouts/Tarif.astro";
import Avis from "../layouts/Avis.astro";
import Cta from "../layouts/Cta.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Banner />
    <About />
    <InterventionType />
    <Tarif />
    <Avis />
    <Cta />
    <Footer />
  </main>
</Layout>

<style>
  
 html{
  width: 100%;
 }
  body{
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  main {
    
    color: white;
    font-size: 20px;
    line-height: 1.6;
    width: 100vw;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
