---
interface Props {
	title: string;
	body: string;
	img: ImageMetadata;
}

const { img, title, body } = Astro.props;
import { Image } from "astro:assets";

---

<div class="container">
	<Image src={img} alt={title} format="webp" class="picto"  />
	<h2>
		{title}
	</h2>
	<p>{body}</p>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: justify;
		min-height: 40vh;
		width: 100%;
		overflow: hidden;
		gap: 30px;
		margin-top: 30px;
		
		}
		
	
	.picto{
		object-fit: cover;
		
		height: 15vw;
		width: 15vw;
		
	}
h2 {
	font-size: 28px;
	margin: 0;
	height: 10%;
}
p{
	margin: 0;
	height: 60%;
	font-size: 1.60vh;
}

</style>
