---

---

<footer>
    <ul class="primary">
        <li>PMS Plomberie</li>
        <li>278 Boulevard de la madeleine 06000 Nice</li>
        <li>0643301366</li>
        <li>Facebook / LinkedIn</li>
    </ul>
    <ul class="secondary">
        <li>Mentions légales</li>
        <li>Plan du site</li>
        <li><a href="mailto:contact@pms-plomberie06.fr">Contact</a></li>

    </ul>
</footer>

<style>
    footer {
    background-color: #3a3a3a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    }
    .primary {
        text-align: left;
    }
    .secondary {
        text-align: right ;
        
    }
    ul {
        padding: 0;
        list-style: none;
        font-size: clamp(12px,1vw,18px);
    }
    a {
        text-decoration: none;
        color: white;
    }
</style>