---
import { Image } from "astro:assets"
import logo from '../assets/images/logo.png'
---

<header>
  <nav>
    <ul class="left-nav nav">
      <li><a href="#intervention">Intervention<a></li>
      <li><a href="#tarif">Tarifs</a></li>
      <li><a href="#avis">Avis</a></li>
    </ul>
    <Image class="logo" src={logo} alt ='logo' width=300 height=150 />
    <ul class="right-nav nav">
      <li>Question Fréquentes</li>
      <li>
        <button> <a href="mailto:contact@pms-plomberie06.fr">Contact</a>  </button>
      </li>
    </ul>
  </nav>
 
</header>

<style lang="scss">
  header {
    background-color: #2e81ff;
    width: 100%;
    height: 10vh;
    display: flex;

    
    
  }
  ul{
    padding: 20px;
    
  }
  a {
    text-decoration: none;
    color: white;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-size: clamp(12px,2vw,20px);
    position: relative;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
  .nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
  }
 

  button{
    background-color: #992a2a;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    width: clamp(80px,12vw,150px);
    height: 50px;
    text-align: center;
    font-size: clamp(12px,2vw,20px);
    
  }


  .logo {
    position: absolute;

    left: 50%;

    width: 15vw;
    height: 10vw;
    border-radius: 10px;
    object-fit: contain;
    transform: translateX(-7.5vw);
    ;
  }

</style>
