---
interface Props {
  title: string;
  picto: ImageMetadata;
}

const { picto, title, numb } = Astro.props;
import { Picture } from "astro:assets";
---

<div class=`picto-container${numb} picto-container`>
  <div class="picto">
    <Picture src={picto} alt=''class='picto-img' loading='lazy' format="avif" decoding="async"/>
  </div>
  <div class="title">
    <h3>{title}</h3>
  </div>
</div>



<style lang="scss">

.picto-container{
  background-color: #201f41;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height:clamp(50px,5vw,200px);
  width: clamp(50px,5vw,200px);
  transition: all 0.2s ease-in-out;
  &:hover:not(.active){
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
}

.active{
   background-color: rgb(75, 75, 75);
}
.picto{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.picto-img{
  height: 5vh;
  width: 5vh;
}

.title{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: 40%;
  line-height: 1.3;
  & h3 {
    font-size: clamp(10px,1vw,12px);
    margin: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

</style>
