---
import {Picture} from  "astro:assets";
import banner from '../assets/images/banner.jpg';

---

<section class="banner">
  <div class="container">
    <Picture
      src={banner}
      alt="banner"
      height="1080"
      width={banner.width}
      class="banner-img"
      format="avif"
      densities={[0.5,1.5, 2]}
      loading={'lazy'}
      decoding={'async'}
      quality={80}
    />
    <div class="title-container">
      <p class="subtitle">Situation d'urgence ?</p>
      <h1 class="title">
        Un plombier de notre équipe sur place dans moins de 2h
      </h1>
    </div>
  </div>
</section>

<style lang="scss">
  .container {
    position: relative;
    display: flex;
    overflow: hidden;
    
    
  }
  .banner-img {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100vw;
    object-fit: cover;
  }
  
  .title-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center ;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      opacity: 0.3;
      
    }
    
  }
  .title{
    padding: 0 40px;
    width: 40%;
    font-size: clamp(20px,2vw,48px);
    z-index: 1;
  }
  
.subtitle{
  width: 40%;
  font-size: clamp(24px,2vw,48px);
  z-index: 1;

  color: red;
  padding: 0 40px ;
  font-weight: bold;

}

.banner{
  min-height: 53vh;
  width: 100%;
}
</style>
